<body>
    <div class="faq-section">
      <h2>Frequently Asked Questions</h2>
      <p>
        Q1. What is a Home Loan?<br>
        Home loan is a loan disbursed by a bank or financial institution (lender) to an individual specifically for buying a residential property. Here, the lender holds the title of property until the loan is paid back in full along with interest.
      </p>
      <p>
        Q2. What is the tenure of a home loan?<br>
        Home loans are long term borrowing instruments with a minimum tenure of 5 years and a maximum tenure of 30 years. The tenure offered to you for your personal loan depends on the loan amount that is sanctioned to you by the lender along with other factors.
      </p>
      <p>
        Q3. What is the Eligibility Criteria for a Home Loan?<br>
        Anyone — whether self-employed or salaried individuals/professionals — with a regular source of income can apply for home loans. One must be at least 21 years old when the loan period begins and should not exceed an age of 65 years when the loan ends or at the time of superannuation. This is the generic home loan eligibility criteria and specifics such as the minimum and maximum age limits, minimum income level, etc. may differ from one lender to another.
      </p>
    </div>
  </body>
  