<body>
    <div class = "container">
  <h1>Personal Details</h1>
  <table class = "center">
      <tr>
          <td>
              <label>Pan Card</label>
          </td>
          <td>
              <button>Upload</button>
          </td>
      </tr>
      <tr>
          <td>
              <label>Aadhar Card</label>
          </td>
          <td>
              <button>Upload</button>
          </td>
      </tr>
      <tr>
          <td>
              <label>Salary Slip</label>
          </td>
          <td>
              <button>Upload</button>
          </td>
      </tr>
      <tr>
          <td>
              <label>LOA</label>
          </td>
          <td>
              <button>Upload</button>
          </td>
      </tr>
      <tr>
          <td>
              <label>NOC from Builder</label>
          </td>
          <td>
              <button>Upload</button>
          </td>
      </tr>
      <tr>
          <td>
              <label>Agreement For Sale</label>
          </td>
          <td>
              <button>Upload</button>
          </td>
      </tr>
  </table>
  <button class = "button button1">Submit</button>
  </div></body>