<body>
    <div class="container">
  <h1>Loan Details</h1>
  <table class ="center">
      <tr>
          <td>
              <label>Max Loan Amount Grantable</label>
          </td>
          <td>
              <input>
          </td>
      </tr>
      <tr>
          <td>
              <label>Rate of Interest</label>
          </td>
          <td>
              <input>
          </td>
      </tr>
      <tr>
          <td>
              <label>Tenure</label>
          </td>
          <td>
              <input>
          </td>
      
      </tr>
      <tr>
          <td>
              <label>Loan Amount</label>
          </td>
          <td>
              <input>
          </td>
      
      </tr>
  </table>
  <button class="button button1"><a routerLink="/application2">Submit</a></button>
  <router-outlet></router-outlet>
  
  </div></body>