
<body>
    <div class="container">
        <h1>Income Details</h1>
    <table class ="center">
        <tr>
            <td>
                <label>Type of Employment</label>
            </td>
            <td>
                <select>
                    <option value = "Salaried">Salaried</option>
                    <option value = "Self Employed">Self Employed</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Retirement Age</label>
            </td>
            <td>
                <input>
            </td>
        </tr>
        <tr>
            <td>
                <label>Organisation Type</label>
            </td>
            <td>
                <input>
            </td>
        
        </tr>
        <tr>
            <td>
                <label>Employer Name</label>
            </td>
            <td>
                <input>
            </td>
        
        </tr>
    </table>
    <button class="button button1"><a routerLink="/application1">Submit</a></button>
    <router-outlet></router-outlet>
    
    </div>
    </body>