<body>
<head>Calculator</head>


    <DIV CLASS = "container">
        <div class="column" >
          <h2>Eligibility Calculator</h2>
          <table class ="center">
            <tr>
                <td>
                    <label>Monthly Income</label>
                </td>
                <td>
                    <input> 
                </td>
             </tr>
             <tr>
                <td>
                    <label>Rate of Interest</label>
                </td>
                <td>
                    <input> 
                </td>
             </tr>
             <tr>
                <td>
                    <label>Calculate</label>
                </td>
                <td>
                    <button class="button button1">Calculate</button>
                </td>
             </tr>
             <tr>
                <td>
                    <label>Eligibility</label>
                </td>
                <td>
                    <input> 
                </td>
             </tr>
          </table>
        </div>
       
        <div class="column">
          <h2> EMI Calculator</h2>
          <table class ="center">
            <tr>
                <td>
                    <label>Loan Amount</label>
                </td>
                <td>
                    <input> 
                </td>
             </tr>
             <tr>
                <td>
                    <label>Tenure</label>
                </td>
                <td>
                    <input> 
                </td>
             </tr>
             <tr>
                <td>
                    <label>Rate of Interest</label>
                </td>
                <td>
                    <input> 
                </td>
             </tr>
             <tr>
                <td>
                    <label>Calculate</label>
                </td>
                <td>
                    <button class="button button1">Calculate</button>
                </td>
             </tr>
             <tr>
                <td>
                    <label>EMI Amount</label>
                </td>
                <td>
                    <input> 
                </td>
             </tr>
          </table>
      
      </div>
      </DIV>
</body>