<body>
    <div class="container">
  <h1>Personal Details</h1>
  <table class="center">
      <tr>
          <td>
              <label>First Name</label>
          </td>
          <td>
              <input>
          </td>
      </tr>
      <tr>
          <td>
              <label>Last Name</label>
          </td>
          <td>
              <input>
          </td>
      </tr>
      <tr>
          <td>
              <label>Email ID</label>
          </td>
          <td>
              <input>
          </td>
      
      </tr>

      <tr>
          <td>
              <label>Phone Number</label>
          </td>
          <td>
              <input>
          </td>
      
      </tr>
      <tr>
          <td>
              <label>Date of Birth</label>
          </td>
          <td>
              <input type="Date">
          </td>
      
      </tr>
      <tr>
          <td>
              <label>Gender</label>
          </td>
          <td>
              <select>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Transgender">Transgender</option>
              </select>
          </td>
      
      </tr>
      <tr>
          <td>
              <label>Nationality</label>
          </td>
          <td>
              <input>
          </td>
      
      </tr>
      <tr>
          <td>
              <label>Aadhar No</label>
          </td>
          <td>
              <input>
          </td>
      
      </tr>
      <tr>
          <td>
              <label>Pan No</label>
          </td>
          <td>
              <input>
          </td>
      
      </tr>
  </table>
  <button  class="button button1"><a routerLink="/upload-documents">Submit</a></button>
  <router-outlet></router-outlet>
  </div>
  </body>